{% extends 'bootstrap/base.html' %}

{% block title %}
	FreeGenes Memos
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">FreeGenes Dashboard</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
		    <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
<h1> Dashboard </h1>
<p><a href="{{ url_for('faq') }}">Learn more about FreeGenes Project States</a></p>
<table id=memo_dashboard class="table table-hover table-bordered table-sm">
    <thead>
    <tr>
        <th>Name</th>
	<th>Author</th>
	<th>Lab</th>
        <th>Priority</th>
        <th>Estimated gene count</th>
        <th>State</th>
        <th>Last Updated</th>
    </tr>
    </thead>
    <tbody>
        {% for row in value %}
            <tr>
		<td><a href="{{ url_for('memo_table', uuid=row[0]) }}">{{row[1]}}</a></td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
		<td>{{row[6]}}</td>
		<td>{{row[7]}}</td>
            </tr>
        {% endfor %}
    </tbody>

{% endblock %} 
